from os.path import join, abspath, dirname
from pytz import timezone

TIME_ZONE = timezone('America/Chicago')

DB_CONFIG = {
    host: '',
    user: '',
    pw: '',
    port: '',
    name: '',
}
DB_CONN='postgresql+psycopg2://{user}:{pw}@{host}:{port}/{name}'.format(**DB_CONFIG)
MAX_CONTENT_LENGTH = 5 * 1024 * 1024
SECRET_KEY = 'super secret key'
REDIS_QUEUE_KEY = 'dedupeapi'
WTF_CSRF_ENABLED = False
DOWNLOAD_FOLDER = join(abspath(dirname(__file__)), 'download_data')

# This is a dict that gives the app a way to setup
# a default user, and group and then attach that user
# to the admin role.

DEFAULT_USER = {
  'user': {
      'name': 'deduper',
      'email': 'person@example.com',
      'password': 'my password',
  },
  'group': {
      'name': 'data gurus',
      'description': 'This is the first deduping group. You rock.'
  },
}
