from os.path import join, abspath, dirname
from pytz import timezone

TIME_ZONE = timezone('America/Chicago')

DB_CONN='postgresql://localhost:5432/dedupeapi'
MAX_CONTENT_LENGTH = 5 * 1024 * 1024
SECRET_KEY = 'super secret key'
REDIS_QUEUE_KEY = 'dedupeapi'
REDIS_SESSION_KEY = 'session'
WORKER_SENTRY = ''

DOWNLOAD_FOLDER = join(abspath(dirname(__file__)), 'download_data')

# This is a dict that gives the app a way to setup
# a default user, and group and then attach that user
# to the admin role.

DEFAULT_USER = {
  'user': {
      'name': 'deduper',
      'email': 'person@example.com',
      'password': 'my password',
  },
  'group': {
      'name': 'data gurus',
      'description': 'This is the first deduping group. You rock.'
  },
}
